.glare-hover {
  width: var(--gh-width, 100%);
  height: var(--gh-height, 100%);
  background: var(--gh-bg, transparent);
  border-radius: var(--gh-br, 0);
  border: 1px solid var(--gh-border, transparent);
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
}

.glare-hover::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--gh-angle, -45deg),
    hsla(0, 0%, 0%, 0) 60%,
    var(--gh-rgba, rgba(255, 255, 255, 0.5)) 70%,
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0) 100%
  );
  transition: var(--gh-duration, 650ms) ease;
  background-size:
    var(--gh-size, 250%) var(--gh-size, 250%),
    100% 100%;
  background-repeat: no-repeat;
  background-position:
    -100% -100%,
    0 0;
  z-index: 5;
  pointer-events: none;
}

.glare-hover:hover::before {
  background-position:
    100% 100%,
    0 0;
}

.glare-hover--play-once::before {
  transition: none;
}

.glare-hover--play-once:hover::before {
  transition: var(--gh-duration, 650ms) ease;
  background-position:
    100% 100%,
    0 0;
}
